<!DOCTYPE html>
<html id="html" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width"/>
	<title>{{ .Site.Title }}</title>
	{{ if isset .Site.Params "script" }}
		{{ range $script := .Site.Params.Script }}
			<script src="{{ $script }}"></script>
		{{ end }}
	{{ end }}
	<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
	<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
	<link rel="icon" href="{{ .Site.Params.Icon }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<!-- {{ .Hugo.Generator }} -->
	{{ partial "style.html" . }}
</head>

<body>
	<section id="Menu">
		<header>
			<h1>{{ with .Site.Params.headerTitle }}{{ . | markdownify }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
			<p>{{ with .Site.Params.headerDescription }}{{ . | markdownify }}{{ else }}{{ .Site.Params.description }}{{ end }}</p>
		</header>
		<nav>
		{{ range .Site.Menus.top }}
			<a href="{{.URL}}" target="blank">{{ .Pre }}{{ .Name }}</a>
		{{ end }}
		</nav>
		<nav>
		{{ range .Data.Pages.ByWeight }}
			<a href="#{{ .Params.anchor }}">{{ .Title }}</a>
		{{ end }}
		</nav>
	</section>

	{{ range .Data.Pages.ByWeight }}

	<section id="{{ .Params.anchor }}">

		<h1><a href="#{{ .Params.anchor }}">{{ .Title }}</a><small><a href="#html">{{ with .Site.Params.bttButton }}{{ . | markdownify }}{{ else }}Back to Top{{ end }}</a></small></h1>

		{{ .Content | markdownify }}

	</section>

	{{ end }}

</body>
</html>
